body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8e8e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.jumbotron {
    background: #24478f;
    color: white;
    padding-bottom: 40px;
    padding-top: 120px
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7
}
.jumbotron .btn-primary:hover {
    background: #7646c1
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}
.navbar+.jumbotron {
    margin-top: -20px
}
.jumbotron .lang-logo {
    display: block;
    background: #b01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white
}
.jumbotron .lang-logo img {
    max-width: 100%
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 16px 40px;
  text-decoration: none;
}

li a:hover {
  color: white;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  color: white;
  background-color: #b30000;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

hr {
  border: 1px solid #b5b5b5;
}

canvas {
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
}

#launchGame {
  display: none;
  text-align: center;
  margin: 10px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f1f1f1;
  color: black;
  border: 2px solid #24478f;
  border-radius: 5px;
}

#launchGame:hover {
  background-color: #24478f;
  color: white;
}

#wordsToChoose {
  display: none;
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#greyBox{
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}

#firstWordButton, #secondWordButton, #thirdWordButton {
  text-align: center;
  margin: 10px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f1f1f1;
  color: black;
  border: 2px solid #b5b5b5;
  border-radius: 5px;
}

#firstWordButton:hover, #secondWordButton:hover, #thirdWordButton:hover {
  background-color: #b5b5b5;
}

#conteneur{
  width:500px;
  margin-left:auto;
  margin-right:auto;
}

#canvasHeader{
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#toolbox{
  display: none;
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#connectedPlayersHeader{
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#connectedPlayers{
  height:500px;
  white-space: normal;
  word-wrap: break-word;
  overflow: auto;
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#chat{
  height:500px;
  white-space: normal;
  word-wrap: break-word;
  overflow: auto;
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#username{
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#zone_chat_left {
  border: 2px solid #b5b5b5;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-right: 25%;
  text-align: left;
  color: white;
  border-color: #111;
  background-color: #5e5e5e;
}

#zone_chat_left::after {
  content: "";
  clear: both;
  display: table;
}

#zone_chat_right {
  border: 2px solid #b5b5b5;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-left: 25%;
  text-align: right;
  color: white;
  border-color: #9e0000;
  background-color: #d64040;
}

#zone_chat_right::after {
  content: "";
  clear: both;
  display: table;
}

#envoi_message {
  text-align: center;
  margin: 10px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f1f1f1;
  color: black;
  border: 2px solid #24478f;
  border-radius: 5px;
}

#envoi_message:hover {
  background-color: #24478f;
  color: white;
}

#eraseButton, #thinButton, #thickButton {
  text-align: center;
  margin: 2px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f1f1f1;
  color: black;
  border: 2px solid #24478f;
  border-radius: 5px;
}

#eraseButton:hover, #thinButton:hover, #thickButton:hover {
  background-color: #24478f;
  color: white;
}

#blackButton {
  text-align: center;
  margin: 2px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
}

#blackButton:hover {
  background-color: #f1f1f1;
  color: black;
}

#redButton {
  text-align: center;
  margin: 2px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
}

#redButton:hover {
  background-color: #f1f1f1;
  color: black;
}

#greenButton {
  text-align: center;
  margin: 2px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: green;
  color: white;
  border: 2px solid green;
  border-radius: 5px;
}

#greenButton:hover {
  background-color: #f1f1f1;
  color: black;
}

#blueButton {
  text-align: center;
  margin: 2px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: blue;
  color: white;
  border: 2px solid blue;
  border-radius: 5px;
}

#blueButton:hover {
  background-color: #f1f1f1;
  color: black;
}

#message {
  border: 2px solid #b5b5b5;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.column {
  float: left;
  padding: 10px;
}

.middle {
  width:50%;
}

.left, .right {
  width:25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .column {
   width: 100%;
 }
}
